@import '../../colors.scss';

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar article"
    "footer footer";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  margin: 0;
}

.content {
  padding: 60px 50px;
}
