
// Main colors

$text-color:           #ffffff;
$primary-color:        #ffffff;
$secondary-color:      #f98c2a;
$sidebar-bg:           #3b3b3b;
$search-bg:            #f6f6f6;
$border-primary-color: #d8d8d8;
$sidebar-border-color: #636363;
