@import '../../../colors.scss';

.container {
  grid-area: sidebar;
  padding: 0 30px;
  background-color: $sidebar-bg;
}

.searchInput {
  border: none;
}

.authContainer {
  padding: 35px 0;
  border-bottom: 1px solid $sidebar-border-color;
}

.icon {
  margin-right: 23px;
}

.authContainer svg {
  fill: $secondary-color;
}

.authLink {
  display: flex;
  align-items: center;
}

.authLinkText {
  padding-left: 15px;
}
